body {
  margin: 0;
  padding: 0;
}
#Main{
    display: flex;
}
#SidePanel{
  height: 100vh;
  width: 13%;
  background-color: white;
  align-items: center;
  justify-content: right;
  display: flex;
}
#MainPanel{
  height: 100vh;
  width: 87%;
}
#Logo{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #222222;
  align-items: center;
}
#Top{
  display: flex;
  height: 72%;
  width: 100%;
  background-color: white;
  /* align-items: center; */
  justify-content: center;
}
#Bottom{
  height: 28%;
  width: 100%;
  background-color:white;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
#PrayerList{
  display: flex;
  height:100%;
  width: 100%;
  justify-content:space-evenly;
  align-items: center;
  background-color: #6c6c6c;
}
#NextPrayerArea{
  display: flex;
  width:15vw;
  height:23vh;
  background-color:darkslategray;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  border-color: white;
  border-width: thin;
  border-style: solid;
}

#NextPrayerName{
  display: flex;
  height: 40%;
  width: 12vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#NextPrayer-Name{
  display: flex;
  height: 60%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
#NextPrayer-Type{
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
#NextPrayerTime{
  display: flex;
  height: 27%;
  width: 90%;
  justify-content: center;
  align-items: center;
}
#NextPrayerNameLabel{
  display: flex;
  width: 100%;
  height: 0%;
  color: azure;
  align-items: center;
  font-size: 2.85vw;
  font-family: sans-serif;
  font-weight: 800;
}
#NextPrayerTypeLabel{
  display: flex;
  width: 100%;
  height: 2%;
  color: azure;
  align-items: center;
  font-size: 2vw;
  font-family: sans-serif;
  font-weight: lighter;
}
#NextPrayerTimeLabel{
  display: flex;
  width: 12vw;
  color:azure;
  font-size: 3vw;
  font-family: sans-serif;
  font-weight: 500;
}
#DateTimeArea{
  display: flex;
  width:15vw;
  height:23vh;
  background-color:darkslategray;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border-color: white;
  border-width: thin;
  border-style: solid;
}
#CurrentTime{
  display: flex;
  height: 45%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#Time{
  display: flex;
  width: 100%;
  color: ghostwhite;
  font-size: 5vw;
  font-family: sans-serif;
  font-weight: 500;
  justify-content: center;
}
#CurrentDate{
  display: flex;
  height: 40%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Date{
  display: flex;
  width: 85%;
  height: 0%;
  color: azure;
  align-items: center;
  font-size: 190%;
  font-family: sans-serif;
  font-weight: lighter;
}
.PrayerTime{
  width: 10.7vw;
  height: 23vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 11px;
  border-color: white;
  border-width: thin;
}
.PrayerBody{
  display: flex;
  flex-direction: column;
  height: 90%;
  width:100%;
  align-items: center;
}
.PrayerName{
  display: flex;
  height: 25%;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.PrayerNameText{
  font-family: system-ui;
  font-weight: 500;
  font-size: 2vw;
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: azure;
}
.PrayerStart{
  display: flex;
  height: 44%;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.PrayerStartText{
  font-family: sans-serif;
  font-size: 3.4vw;
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: ghostwhite;
  overflow: hidden;
}
.PrayerJamat{
  background-color: purple;
  display: flex;
  height: 27%;
  width: 73%;
  text-align: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
  border-radius: 13px;
  border-width: thin;
}
.PrayerJamatText{
  font-family: sans-serif;
  font-size: 2.2vw;
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: azure;
}
#MainVideo{
  object-fit:fill;
}

